node_modules/
;build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
*-lock.json
*.old
*.lock
host/settings/
*.txt
old*
extract.js
fix_*.js
*.tsbuildinfo
error*
*.py
*tmp*
*- Copy*
.vscode/*
.vscode/
.vscode/settings.json
host/gui/*
appHash.ahk
original_*
extract*.js
split_*
fix*.js
fix_*

build/settings/
